<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


    <title>Acme Financial Corp.</title>

</head>

<body>
    <h1>Acme Financial Corp.</h1>
	
	<!-- New Applicant Form -->
    <div id="newApp">
        <h2>New Applicants</h2>
        <label for="name">Full Name:</label>
        <input type="text" id="name" placeholder="Name">
        
        <label for="address">Street Address:</label>
        <input type="text" id="address" placeholder="Street Address">
        
        <label for="zipcode">Zipcode:</label>
        <input type="text" id="zipcode" placeholder="Zipcode">
        <button onclick="submit()">Submit</button>
    </div>

    <!--Display applications that have been submitted-->
    <div id="applicationList" style="margin-top: 10px;">
        <!-- Application data will be displayed dynamically here -->
    </div>
    <hr>

    
    <!--Processing-->
    <div id="processing">
        <h2>Processing</h2>
        <label for="appProcess">Application Number:</label>
        <select id="appProcess">
            <!--App numbers for processing will be here-->
        </select>
    </div>
    <div id="phaseContainer">
      <form id="phase1Form" onsubmit="event.preventDefault(); phaseOne();">
        <h3>Phase 1: Personal Details</h3>
          
        <label for="age">Age:</label>
        <input type="number" min="18" id="age" name="age" placeholder="18">
        
        <label for="employmentOptions">Employment Status:</label>
        <select id="employmentOptions" name="employmentStatus">
            <option value="">-- Select --</option>
            <option value="fullTime">Employed (Full-Time)</option>
            <option value="partTime">Employed (Part-Time)</option>
            <option value="retired">Retired</option>
            <option value="unemployed">Unemployed</option>
        </select>
      
        <label for="maritalStatus">Marital Status:</label>
        <select id="maritalStatus" name="maritalStatus">
            <option value="">-- Select --</option>
            <option value="singleDivorced">Single (Divorced)</option>
            <option value="singleNever">Single (Never Married)</option>
            <option value="deadSpouse">Widow/Widower</option>
            <option value="married">Married</option>
        </select>
      
        <button type="submit">Submit</button>
        <div id="phase1Response" style="margin-top: 10px;">

        </div>
      </form>
      <hr style="border-top: dashed 1px; border-bottom: dashed 1px; background-color: transparent; border-color: #bd1212;">
      
      <form id="phase2Form" onsubmit="event.preventDefault(); phaseTwo();">
        <h3>Phase 2: Credit Check</h3>
          
        <label for="creditScore">Credit Score:</label>
        <select id="creditScore" name="creditScore">
            <option value="">-- Select --</option>
            <option value="exceptional">Exceptional (800-850))</option>
            <option value="veryGood">Very Good (740-799)</option>
            <option value="good">Good (670-739)</option>
            <option value="fair">Fair (580-669)</option>
            <option value="poor">Poor (300-579)</option>
        </select>

        <label for="currentDebt">Current Debt:</label>
        <input type="number" min="0" step="1000" id="currentDebt" name="currentDebt" placeholder="0">

        <label for="income">Annual Income:</label>
        <input type="number" min="0" step="1000" id="income" name="income" placeholder="40000">
      
        <button type="submit">Submit</button>

        <div id="phase2Response" style="margin-top: 10px;">

        </div>
      </form>
      <hr style="border-top: dashed 1px; border-bottom: dashed 1px; background-color: transparent; border-color: #bd1212;">
      
      
        <h3>Phase 3: Certification Check</h3>
            <button style="margin-bottom: 10px;" onclick="certCheck()">Certification Check</button>
            <div id="certCheck">
                <!--certification results here-->
            </div>
            <div id="confirm" style="flex-direction: row;">
                <!--ok cancel buttons will appear here-->
            </div>
            <hr style="border-top: dashed 1px; border-bottom: dashed 1px; background-color: transparent; border-color: #bd1212;">
    </div>
    <hr>

    <!--Check Application Status-->
    <div id="checkStatus">
        <h2>Check Status</h2>
        <label for="appNumberCheck">Application Number:</label>
        <input type="text" id="appNumberCheck" placeholder="Application Number">
        <button id="checkStatusButton" onclick="checkStatus()">Submit</button>	
    </div>

    <!-- Display application status in this div -->
    <div id="applicationStatus" style="margin-top: 10px;">
    <!-- Application data will be displayed here dynamically -->
    </div>

    <div id="acceptOrReject" style="margin-top: 10px;">
        <!--Loan terms or rejection reason(s) go here-->
    </div>
    
    <!--Display applications in this div-->
    <div id="allApplications">
        <button onclick="showAllApplications()" style="margin-top: 20px;">Show All</button>
        <div id="displayApps" style="margin-top: 10px;"></div>
            <!--Application data will be displayed here dynamically-->
   </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>